[submodule "CSE 174 Fundamentals of Programming and Problem Solving/Group Project"]
	path = 2016-2021 Miami University/CSE 174 Fundamentals of Programming and Problem Solving/ProjectEuler challenge
	url = https://github.com/0x326/miami-university-cse-174-group-project
[submodule "CSE 201 Introduction to Software Engineering/Final Project"]
	path = 2016-2021 Miami University/CSE 201 Introduction to Software Engineering/Semester-long Project - Pac-Man™ for the Web/software-artifacts
	url = https://github.com/0x326/miami-university-cse-201-group-project
[submodule "2016-2020 Miami University/CSE 464 Algorithms/miami-university-cse-464-group-project"]
	path = 2016-2021 Miami University/CSE 564 Algorithms/group-project
	url = https://github.com/0x326/miami-university-cse-464-group-project
[submodule "2016-2021 Miami University/CSE 601 Research Methods/hands-on-group-project"]
	path = 2016-2021 Miami University/CSE 601 Research Methods/hands-on-group-project
	url = https://gitlab.com/0x326/miami-university-cse-601-group-project.git
[submodule "2016-2021 Miami University/CSE 601 Research Methods/team-server"]
	path = 2016-2021 Miami University/CSE 601 Research Methods/team-server
	url = https://github.com/0x326/miami-university-cse-601-team-server.git
[submodule "2016-2021 Miami University/CSE 551 Web Services/group-project"]
	path = 2016-2021 Miami University/CSE 551 Web Services/aws-group-project
	url = https://gitlab.com/0x326/miami-university-cse-551-group-project.git
[submodule "2016-2021 Miami University/CSE 383 Web Application Programming/10. Final Group Project"]
	path = 2016-2021 Miami University/CSE 383 Web Application Programming/10. Final Group Project
	url = https://gitlab.com/0x326/miami-university-cse-383-final-group-project.git
[submodule "2016-2021 Miami University/CSE 551 Web Services/ci-cd-group-project"]
	path = 2016-2021 Miami University/CSE 551 Web Services/ci-cd-group-project
	url = https://gitlab.com/0x326/miami-university-cse-551-ci-cd-group-project.git
[submodule "2016-2021 Miami University/CSE 551 Web Services/nodejs-code"]
	path = 2016-2021 Miami University/CSE 551 Web Services/nodejs-code
	url = https://gitlab.com/0x326/miami-university-cse-451-nodejs.git
[submodule "2016-2021 Miami University/CSE 551 Web Services/docker-server"]
	path = 2016-2021 Miami University/CSE 551 Web Services/docker-server
	url = https://gitlab.com/0x326/miami-university-cse-451-docker-server.git
[submodule "2016-2021 Miami University/CSE 448-449 Senior Capstone/capstone-project"]
	path = 2016-2021 Miami University/CSE 448-449 Senior Capstone/capstone-project
	url = https://gitlab.com/0x326/miami-university-senior-capstone-project.git
[submodule "2016-2021 Miami University/CSE 201 Introduction to Software Engineering/Semester-long Project - Pac-Man™ for the Web/software-lifecycle-documents"]
	path = 2016-2021 Miami University/CSE 201 Introduction to Software Engineering/Semester-long Project - Pac-Man™ for the Web/software-lifecycle-documents
	url = https://github.com/0x326/miami-university-cse-201-group-project-materials.git
[submodule "2016-2021 Miami University/CSE 585 Advanced Databases/apache-geode-group-project"]
	path = 2016-2021 Miami University/CSE 585 Advanced Databases/apache-geode-group-project
	url = https://github.com/0x326/miami-university-cse-485-group-project.git
[submodule "2016-2021 Miami University/CSE 601 Research Methods/data-visualization-independent-study"]
	path = 2016-2021 Miami University/CSE 601 Research Methods/data-visualization-independent-study
	url = https://gitlab.com/0x326/miami-university-cse-601-independent-study.git
[submodule "2016-2021 Miami University/CSE 700 Thesis Research/thesis-document"]
	path = 2016-2021 Miami University/CSE 700 Thesis Research/thesis-document
	url = https://gitlab.com/0x326/miami-university-cse-700-thesis.git
[submodule "2016-2021 Miami University/CSE 700 Thesis Research/apia-implementation"]
	path = 2016-2021 Miami University/CSE 700 Thesis Research/apia-implementation
	url = https://gitlab.com/0x326/miami-university-cse-700-apia.git
[submodule "2016-2021 Miami University/CSE 700 Thesis Research/aia-refactored-implementation"]
	path = 2016-2021 Miami University/CSE 700 Thesis Research/aia-refactored-implementation
	url = https://gitlab.com/0x326/miami-university-cse-700-aia.git
[submodule "2016-2021 Miami University/CSE 627 Machine Learning/homework"]
	path = 2016-2021 Miami University/CSE 627 Machine Learning/homework
	url = https://gitlab.com/0x326/miami-university-cse-627-homework.git
[submodule "2016-2021 Miami University/CSE 627 Machine Learning/class-files"]
	path = 2016-2021 Miami University/CSE 627 Machine Learning/class-files
	url = https://github.com/0x326/miami-university-cse-627-class-files.git
