<?php

/**
 * @param string $databaseName
 * @return mysqli
 */
function connectToDatabase($databaseName)
{
    $databaseHost = '';
    $databaseUsername = '';
    $databasePassword = '';
    return new mysqli($databaseHost, $databaseUsername, $databasePassword, $databaseName);
}
